<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MHK INKS</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/output.css')}}">

<script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
</head>

<body>
<!---------- Navigation ---------->
<nav class="bg-neutral-primary fixed w-full z-20 top-0 start-0 border-b border-default">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-body rounded-base md:hidden hover:bg-neutral-secondary-soft hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/></svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-default rounded-base bg-neutral-secondary-soft md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-neutral-primary">
        <li>
          <a href="{{ url_for('index') }}" class="block py-2 px-3 text-white bg-brand rounded md:bg-transparent md:text-fg-brand md:p-0" aria-current="page">Home</a>
        </li>
        <li>
          <a href="{{ url_for('contact') }}" class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent">Contact</a>
        </li>
        <li>
          <a href="{{ url_for('services') }}" class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent">Services</a>
        </li>
       
      </ul>
    </div>
  </div>
</nav>




<!---------- background Picture ---------->

<section
class="relative bg-center bg-no-repeat bg-cover min-h-screen w-full"
style="background-image: url('{{ url_for('static', filename='Images/bg.jpg') }}');">
    <div class="px-7 mx-auto max-w-8xl text-center py-20 lg:py-46">
        <div class="relative mt-0 md:mt-0">
            <img src="{{ url_for('static', filename='Images/DP1.jpg') }} " alt="Mehak verma"  class="w-32 h-32 sm:w-40 sm:h-40 md:w-64 md:h-64 lg:w-80 lg:h-80 
                   object-cover rounded-full border-4 sm:border-6 md:border-8 
                   border-white shadow-lg">

        </div>
    <!--
        <h1 class="mb-6 text-4xl font-bold tracking-tighter text-gray-400 to text-blue-500 py-20 lg:py-40 md:text-5xl lg:text-6xl">
            MEHAK VERMA
        </h1>

        <p class="mb-8 text-red-800 font-normal  md:text-xl sm:px-16 lg:px-48">
            Specializes in large-scale black and grey realism.
        </p>
         -->

    </div>
</section>


<!---------- Images ---------->
<section class=" bg-neutral-primary py-5">
  <div id="gallery" class="relative w-full max-w-7xl mx-auto" data-carousel="slide">

      <!-- Carousel wrapper -->
      <div class="relative w-full h-64 sm:h-80 md:h-96 lg:h-[32rem] overflow-hidden rounded-lg">

        <!-- Item 1 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
            <img src="{{ url_for('static', filename='Images/11.jpg') }}"
                 class="absolute block w-full h-full object-cover"
                 alt="">
        </div>

        <!-- Item 2 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="{{ url_for('static', filename='Images/12.jpg') }}"
                 class="absolute block w-full h-full object-cover"
                 alt="">
        </div>

        <!-- Item 3 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="{{ url_for('static', filename='Images/13.jpg') }}"
                 class="absolute block w-full h-full object-cover"
                 alt="">
        </div>

        <!-- Item 4 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="{{ url_for('static', filename='Images/14.jpg') }}"
                 class="absolute block w-full h-full object-cover"
                 alt="">
        </div>

        <!-- Item 5 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="{{ url_for('static', filename='Images/15.jpg') }}"
                 class="absolute block w-full h-full object-cover"
                 alt="">
        </div>

    </div>

    <!-- Previous button -->
    <button type="button"
        class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group"
        data-carousel-prev>

        <span class="w-10 h-10 flex items-center justify-center rounded-full bg-black/50 group-hover:bg-black/70">
            ❮
        </span>
    </button>

    <!-- Next button -->
    <button type="button"
        class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group"
        data-carousel-next>

        <span class="w-10 h-10 flex items-center justify-center rounded-full bg-black/50 group-hover:bg-black/70">
            ❯
        </span>
    </button>

</div>



</section>

<!--------------Footer---------------->
<footer class="bg-neutral-primary lg:bg-black">
    <!-------- Banner---------->  
    <div id="bottom-banner" tabindex="-1" class="fixed bottom-0 insert-s-0 z-50 flex justify-between w-full p-4 border-t border-default  bg-neutral-primary">
        <div class="flex items-center mx-auto">
                <p class="text-white italic md:text-xl">
                Welcome to MHK INKS 
                </p>
        </div>
        <div class="flex items-center mx-auto">
                <p class="text-white italic md:text-xl">
                111 Vail Street, Moncton, NB
                </p>
        </div>

</div>
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <hr class="my-6 border-default sm:mx-auto lg:my-8" />
        <span class="block text-sm text-body sm:text-center">Mehak Verma Tatoo Artist.  © 2026 All Rights Reserved.</span>
    </div>
</footer>








</body>
</html>
