<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tattoos - MHK INKS</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/output.css')}}">

<script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
</head>

<body class = "min-h-screen bg-neutral-primary">

    
<!---------- Navigation ---------->
<nav class="bg-neutral-primary fixed w-full z-20 top-0 start-0 border-b border-default">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-4 justify-center text-sm text-body rounded-base md:hidden hover:bg-neutral-secondary-soft hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/></svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-default rounded-base bg-neutral-secondary-soft md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-neutral-primary">
        <li>
          <a href="{{ url_for('index') }}" class="block py-2 px-3 text-white bg-brand rounded md:bg-transparent md:text-fg-brand md:p-0" aria-current="page">Home</a>
        </li>
        <li>
          <a href="{{ url_for('contact') }}" class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent">Contact</a>
        </li>
        <li>
          <a href="{{ url_for('services') }}" class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent">Services</a>
        </li>
        <li>
          <a href="{{ url_for('Tattoos') }}" class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent">Tattoos</a>
        </li>
       
      </ul>
    </div>
  </div>
</nav>



<!---------- Images ---------->
<section class="bg-neutral-primary py-8 pt-20">
  <h2 class="mb-4 text-3xl font-bold text-center text-heading">Tattoos</h2>
  <div class="max-w-7xl mx-auto px-4 grid grid-cols-2 md:grid-cols-4 gap-4">
    

    <!-- Column 1 -->
    <div class="grid gap-4 overflow-hidden rounded-base">

        <img  data-modal-target= "image1" data-modal-toggle="image1" class="w-full transform hover:scale-110 transition-transform duration-300"
             src="{{ url_for('static', filename='Images/19.jpg') }}" alt="">

        <img data-modal-target= "image2" data-modal-toggle="image2" class="rounded-base hover:scale-105 transition duration-300"
             src="{{ url_for('static', filename='Images/18.jpg') }}" alt="">

        <img  data-modal-target= "image3" data-modal-toggle="image3" class="rounded-base hover:scale-105 transition duration-300"
             src="{{ url_for('static', filename='Images/13.jpg') }}" alt="">
        
    </div>

    <!-- Column 2 -->
    <div class="grid gap-4">

        <img data-modal-target= "image4" data-modal-toggle="image4" class="rounded-base hover:scale-105 transition duration-300"
             src="{{ url_for('static', filename='Images/15.jpg') }}" alt="">

        <img data-modal-target= "image5" data-modal-toggle="image5" class="rounded-base hover:scale-105 transition duration-300"
             src="{{ url_for('static', filename='Images/11.jpg') }}" alt="">
    </div>

    <!-- Column 3 -->
    <div class="grid gap-4">
        <img data-modal-target= "image6" data-modal-toggle="image6" class="rounded-base hover:scale-105 transition duration-300"
             src="{{ url_for('static', filename='Images/16.jpg') }}" alt="">

        <img data-modal-target= "image7" data-modal-toggle="image7" class="rounded-base hover:scale-105 transition duration-300"
             src="{{ url_for('static', filename='Images/14.jpg') }}" alt="">

        <img data-modal-target= "image8" data-modal-toggle="image8" class="rounded-base hover:scale-105 transition duration-300"
             src="{{ url_for('static', filename='Images/12.jpg') }}" alt="">

        
    </div>

    <!-- Column 4 -->
    <div class="grid gap-4">
        <img data-modal-target= "image9" data-modal-toggle="image9" class="rounded-base hover:scale-105 transition duration-300"
             src="{{ url_for('static', filename='Images/17.jpg') }}" alt="">

        <img data-modal-target= "image10" data-modal-toggle="image10" class="rounded-base hover:scale-105 transition duration-300"
             src="{{ url_for('static', filename='Images/20.jpg') }}" alt="">
    </div>

  </div>

</section>

<!-------- Scaling ------>
<!--Image 1-->
<div id="image1" tabindex="-1" class="hidden fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-hidden md:inset-0 h-screen md:hidden">
<div class="relative w-full max-w-xl mx-auto">
<div class="relative bg-black rounded-lg shadow">
<button type="button"
class="absolute top-3 right-3 text-white text-2xl"
data-modal-hide="image1">
✕
</button>
<img class="w-full rounded-lg"
src="{{ url_for('static', filename='Images/19.jpg') }}">
</div>
</div>
</div>

<!--Image 2-->
<div id="image2" tabindex="-1" class="hidden fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-hidden md:inset-0 h-screen md:hidden">
<div class="relative w-full max-w-xl mx-auto">
<div class="relative bg-black rounded-lg shadow">
<button type="button"
class="absolute top-3 right-3 text-white text-2xl"
data-modal-hide="image2">
✕
</button>
<img class="w-full rounded-lg"
src="{{ url_for('static', filename='Images/18.jpg') }}">
</div>
</div>
</div>

<!--Image 3-->
<div id="image3" tabindex="-1" class="hidden fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-hidden md:inset-0 h-screen md:hidden">
<div class="relative w-full max-w-xl mx-auto">
<div class="relative bg-black rounded-lg shadow">
<button type="button"
class="absolute top-3 right-3 text-white text-2xl"
data-modal-hide="image3">
✕
</button>
<img class="w-full rounded-lg"
src="{{ url_for('static', filename='Images/13.jpg') }}">
</div>
</div>
</div>

<!--Image 4-->
<div id="image4" tabindex="-1" class="hidden fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-hidden md:inset-0 h-screen md:hidden">
<div class="relative w-full max-w-xl mx-auto">
<div class="relative bg-black rounded-lg shadow">
<button type="button"
class="absolute top-3 right-3 text-white text-2xl"
data-modal-hide="image4">
✕
</button>
<img class="w-full rounded-lg"
src="{{ url_for('static', filename='Images/15.jpg') }}">
</div>
</div>
</div>

<!--Image 5-->
<div id="image5" tabindex="-1" class="hidden fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-hidden md:inset-0 h-screen md:hidden">
<div class="relative w-full max-w-xl mx-auto">
<div class="relative bg-black rounded-lg shadow">
<button type="button"
class="absolute top-3 right-3 text-white text-2xl"
data-modal-hide="image5">
✕
</button>
<img class="w-full rounded-lg"
src="{{ url_for('static', filename='Images/11.jpg') }}">
</div>
</div>
</div>

<!--Image 6-->
<div id="image6" tabindex="-1" class="hidden fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-hidden md:inset-0 h-screen md:hidden">
<div class="relative w-full max-w-xl mx-auto">
<div class="relative bg-black rounded-lg shadow">
<button type="button"
class="absolute top-3 right-3 text-white text-2xl"
data-modal-hide="image6">
✕
</button>
<img class="w-full rounded-lg"
src="{{ url_for('static', filename='Images/16.jpg') }}">
</div>
</div>
</div>

<!--Image 7-->
<div id="image7" tabindex="-1" class="hidden fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-hidden md:inset-0 h-screen md:hidden">
<div class="relative w-full max-w-xl mx-auto">
<div class="relative bg-black rounded-lg shadow">
<button type="button"
class="absolute top-3 right-3 text-white text-2xl"
data-modal-hide="image7">
✕
</button>
<img class="w-full rounded-lg"
src="{{ url_for('static', filename='Images/14.jpg') }}">
</div>
</div>
</div>

<!--Image 8-->
<div id="image8" tabindex="-1" class="hidden fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-hidden md:inset-0 h-screen md:hidden">
<div class="relative w-full max-w-xl mx-auto">
<div class="relative bg-black rounded-lg shadow">
<button type="button"
class="absolute top-3 right-3 text-white text-2xl"
data-modal-hide="image8">
✕
</button>
<img class="w-full rounded-lg"
src="{{ url_for('static', filename='Images/12.jpg') }}">
</div>
</div>
</div>

<!--Image 9-->
<div id="image9" tabindex="-1" class="hidden fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-hidden md:inset-0 h-screen md:hidden">
<div class="relative w-full max-w-xl mx-auto">
<div class="relative bg-black rounded-lg shadow">
<button type="button"
class="absolute top-3 right-3 text-white text-2xl"
data-modal-hide="image9">
✕
</button>
<img class="w-full rounded-lg"
src="{{ url_for('static', filename='Images/17.jpg') }}">
</div>
</div>
</div>

<!--Image 10-->
<div id="image10" tabindex="-1" class="hidden fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-hidden md:inset-0 h-screen md:hidden">
<div class="relative w-full max-w-xl mx-auto">
<div class="relative bg-black rounded-lg shadow">
<button type="button"
class="absolute top-3 right-3 text-white text-2xl"
data-modal-hide="image10">
✕
</button>
<img class="w-full rounded-lg"
src="{{ url_for('static', filename='Images/20.jpg') }}">
</div>
</div>
</div>


<!--------------Footer---------------->
<footer class="bg-neutral-primary lg:bg-black">
    
    <!-------- Banner---------->  
    <div id="bottom-banner" tabindex="-1" class="fixed bottom-0 insert-s-0 z-50 flex justify-between w-full p-4 border-t border-default  bg-neutral-primary">
        <hr class="my-6 border-default sm:mx-auto lg:my-8" />
        <span class="block text-sm text-body sm:text-center">Mehak Verma Tatoo Artist.  © 2026 All Rights Reserved.</span>
    </div>
</footer>


</body>


</html>
